.pd{
    padding: 20px 50px;
    display: flex;
    gap: 50px;
}
.pd .left{
    flex: 1;
    display: flex;
    gap: 20px;

}
.pd .images{
    flex: 1;       
}
.pd img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 10px 30px;
}
.pd .right{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.pd .price{
    font-size: 30px;
    font-weight: 500;
}
p{
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}
.quantity{
    display: flex;
    align-items: center;
    gap: 10px;
}
.quantily .btn-quantily{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}
.add{
    width: 250px;
    padding: 10px;
    background-color: aqua;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border: none;
}

@media (max-width: 477px) {
    .pd{
        padding: 20px 50px;
        display: block;
        gap: 50px;
    }
}